[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
requests = "*"
aiohttp = "*"
django-enumfields = "*"
jinja2 = "*"

[requires]
python_version = "3.7"
