html, body {
    margin: 48px 0;
}

.content {
    display: block;
    width: 50%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.25);
    font-family: 'Segoe UI';
    color: white;
    line-height: 1.6;
    padding-bottom: 2.5%;
}

h1 {
    background-color: rgba(0, 0, 0, 0.25);
    font-size: 36px;
    padding: 15px 5%;
}

h2 {
    padding: 15px 5%;
    background-color: rgb(255, 255, 255, 0.05);
}

p {
    font-size: 16px;
    padding: 15px 5%;
    font-weight: normal;
}

table {
    width: 90%;
    min-width: 300px;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid rgb(90, 96, 104, 0.5);
}

th {
    background-color: rgb(255, 255, 255, 0.05);
    border: 1px solid rgb(90, 96, 104, 0.5);
    padding: 1%;
}

td {
    background-color: rgb(255, 255, 255, 0.01);
    border: 1px solid rgb(90, 96, 104, 0.5);
    padding: 1%;
}

table tr:first-child th {
    border-top: 0;
  }
table tr:last-child td {
    border-bottom: 0;
}
table tr td:first-child, table tr th:first-child {
    border-left: 0;
  }
table tr td:last-child, table tr th:last-child {
    border-right: 0;
}

table input[type=text] {
    width: 90%;
    padding: 0 8px 0 8px;
    height: 32px;
    font-size: 16px;
    background-color: rgb(19, 27, 38, 0.4);
    border-radius: 2px;
    border: 1px solid rgb(90, 96, 104, 0.5);
    background-repeat: no-repeat;
    font-family: 'Segoe UI';
    color: white;
}

table input[type=text]:hover {
    border: 1px solid rgb(137, 142, 147);
}

table input[type=text]:focus {
    outline: none;
    border: 1px solid rgb(73, 173, 248);
}

input[type=button] {
    font-size: 16px;
    padding: 15px 5%;
    font-weight: bold;
    color: white;
    background-color: rgb(137, 142, 147, 0.25);
    margin: 2.5% 5%;
    border: none;
}

input[type=button]:hover {
    cursor: pointer;
    background-color: rgb(59, 64, 71  , 0.25);
}

input[type=button]:focus {
    outline:0;
}

.result {
    overflow: auto;
    margin: 5% auto 0 auto;
    width: 90%;
    height: 300px;
    background-color: rgb(19, 27, 38, 0.4);
    border: 1px solid rgb(90, 96, 104, 0.5);
}

#playerResponse {
    padding: 16px;
}
