html, body {
  margin: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'Kelly Slab';
  src: url(../assets/fonts/KellySlab-Regular.otf);
  font-style: normal;
  font-weight: 700;
}

h1 {
  margin-top: 10%;
  margin-bottom: 2%;
  font-family: 'Kelly Slab';
  text-align: center;
  font-size: 100px;
  color: white;
}

.searchBar {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.searchBar input[type=text] {
  width: 30%;
  min-width: 200px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid rgb(90, 96, 104);
  border-radius: 4px;
  font-family: 'Segoe UI';
  font-size: 16px;
  color: white;
  background-color: rgb(19, 27, 38);
  background-image: url('../assets/img/magnify_icon.png');
  background-size: 30px 30px;
  background-position: 5px 50%;
  padding: 0 8px 0 40px;
  background-repeat: no-repeat;
}

.searchBar input[type=text]:hover {
    border: 1px solid rgb(137, 142, 147);
}

.searchBar input[type=text]:focus {
  outline: none;
  border: 1px solid rgb(73, 173, 248);
}
