html, body {
    margin: 52px 0;
}

.content {
    display: block;
    width: 50%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.25);
    font-family: 'Segoe UI';
    color: white;
    padding: 8px 48px;
}
