{% extends "base.html" %}
{% set active_page = "about" %}
{% set has_search_bar = True %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
{% endblock %}

{% block content %}
  <div class='text'>
    <h1>
      sc2Ladder is a website that displays the in-game ladders of StarCraft II and updates them in real time. <br><br>
      It also has the unique feature of revealing an account's Battle Net ID, revealing the identity of some barcode accounts. <br><br>
      The source code can be found <a href="https://github.com/YenFu1/sc2ladder">here.</a> <br><br>
      All inquiries can be sent to <i>YenFu#4967</i> via private message on <i>Discord</i>.
    </h1>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/search.js')}}"></script>
  <script src="{{ url_for('static', filename='js/navBar.js')}}"></script>
{% endblock %}
