{% extends "base.html" %}
{% set active_page = "home" %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">
{% endblock %}

{% block content %}
  <h1> sc2Ladder </h1>
  <div class=searchBar>
    <input id="search" type="text" placeholder="Search for players using username or battletag">
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/search.js')}}"></script>
{% endblock %}
