{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ static('css/player.css') }}">
  <link rel="stylesheet" href="{{ static('css/navbar.css') }}">
  <link rel="stylesheet" href="{{ static('css/common.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.bundle.min.js"></script>
{% endblock %}

{% block content %}
<div class="content">
  <h1>{{ player.username }}</h1>
  <canvas id="mmr_history"></canvas>
</div>

<script type="text/javascript">
var ctx = document.getElementById('mmr_history').getContext('2d');
var mmrHistory = new Chart(ctx, {
    type: 'line',
    data: {
      datasets: [{
        data: {{ data|safe }},
        backgroundColor: "rgba(0, 174, 255, 0.6)",
      }]
    },
    options: {
      responsive: true,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            unit: 'day',
            tooltipFormat: 'll'
          },
          scaleLabel: {
            display:     true,
            labelString: 'Date'
          }
        }],
        yAxes: [{
          scaleLabel: {
            display:     true,
            labelString: 'MMR'
          }
        }]
      }
    }
});
</script>
{% endblock %}

{% block scripts %}
{% endblock %}
