{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ static('css/search.css') }}">
  <link rel="stylesheet" href="{{ static('css/navbar.css') }}">
{% endblock %}

{% block content %}
{% if pages_required > -1 %}
  <table class="filter">
    <tr>
      <th>Sort By:</th>
      <td><a href="">MMR</a></td>
      <td><a href="">Rank</a></td>
      <th>Region:</th>
      <td><a href="">all</a></td>
      <td><a href="">NA</a></td>
      <td><a href="">EU</a></td>
      <td><a href="">KR</a></td>
      <th>Rank:</th>
      <td><a href="">all</a></td>
      <td><a href=""><img src="static/assets/img/6.png" class="icon"></a></td>
      <td><a href=""><img src="static/assets/img/5.png" class="icon"></a></td>
      <td><a href=""><img src="static/assets/img/4.png" class="icon"></a></td>
      <td><a href=""><img src="static/assets/img/3.png" class="icon"></a></td>
      <td><a href=""><img src="static/assets/img/2.png" class="icon"></a></td>
      <td><a href=""><img src="static/assets/img/1.png" class="icon"></a></td>
      <td><a href=""><img src="static/assets/img/0.png" class="icon"></a></td>
      <th class="reset"><a href="">Reset Filters</a></th>
    </tr>
  </table>
  <table class="resultsTable">
    <thead>
      <tr>
        <th>Region</th>
        <th>Rank</th>
        <th>Character Name</th>
        <th>Battle Net ID</th>
        <th>Race</th>
        <th>MMR</th>
        <th>Wins</th>
        <th>Losses</th>
      </tr>
    </thead>
    <tbody>
      {% for player in players %}
        <tr>
          <td>{{ player.region }}</td>
          <td><img src="static/assets/img/{{ player.rank }}.png" class="icon"></td>
          <td>{% if player.clan %}[{{ player.clan }}]{% endif %}{{ player.username[:player.username.index('#')] }}</td>
          <td>{{ player.bnet_id }}</td>
          <td><img src="static/assets/img/{{ player.race }}.png" class="icon"></td>
          <td>{{ player.mmr }}</td>
          <td>{{ player.wins }}</td>
          <td>{{ player.losses }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <table class="footer">
    <tr>
        {% if pages_required > 12 %}
          {% if page_number < 8 %}
            {% for i in range(0, page_number + 4) %}
              {% if i + 1 == page_number %}
                <td id="onPage">{{ i + 1 }}</td>
              {% else %}
                <td><a href="?region={{ region }}&page={{ i + 1 }}">{{ i + 1 }}</a></td>
            {% endif %}
            {% endfor %}
            <td>...</td>
            {% for i in range(pages_required - 4, pages_required) %}
              <td><a href="?region={{ region }}&page={{ i + 1 }}">{{ i + 1 }}</a></td>
            {% endfor %}
          {% elif page_number < pages_required - 8 %}
            {% for i in range(0, 4) %}
              <td><a href="?region={{ region }}&page={{ i + 1 }}">{{ i + 1 }}</a></td>
            {% endfor %}
            <td>...</td>
            {% for i in range(page_number - 4, page_number + 3) %}
              {% if i + 1 == page_number %}
                <td id="onPage">{{ i + 1 }}</td>
              {% else %}
                <td><a href="?region={{ region }}&page={{ i + 1 }}">{{ i + 1 }}</a></td>
              {% endif %}
            {% endfor %}
            <td>...</td>
            {% for i in range(pages_required - 4, pages_required) %}
              <td><a href="?region={{ region }}&page={{ i + 1 }}">{{ i + 1 }}</a></td>
            {% endfor %}
          {% else %}
            {% for i in range(0, 4) %}
              <td><a href="?region={{ region }}&page={{ i + 1 }}">{{ i + 1 }}</a></td>
            {% endfor %}
            <td>...</td>
            {% for i in range(page_number - 4, pages_required) %}
              {% if i + 1 == page_number %}
                <td id="onPage">{{ i + 1 }}</td>
              {% else %}
                <td><a href="?region={{ region }}&page={{ i + 1 }}">{{ i + 1 }}</a></td>
            {% endif %}
            {% endfor %}
          {% endif %}
        {% else %}
          {% for i in range(0, pages_required) %}
          <td>{{ i + 1 }}</td>
          {% endfor %}
        {% endif %}
      </tr>
    </table>
  {% else %}
  <table class="resultsTable">
    <tr><td><h1>No results found!</h1></td></tr>
  </table>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script src="{{ static('js/search.js') }}"></script>
  <script src="{{ static('js/navBar.js') }}"></script>
{% endblock %}
</html>
